*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --orange:#ff7800;
    --chudao:#EA8025;
    --toi:black;
    --white: white;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
    --font: normal normal normal 32px/1.4em niconne,fantasy;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.checkbox_mobile{
    top: 0.5em !important;
}
.menu-icon_mobile{
    top:0.2em !important;
}

.menu{
    display: flex;
    position:relative;
    background: #000033;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 60px;
    
}
/* .sticky{
    position: fixed;
    top: 0;
    width: 100%;
} */




.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.3rem 4%;
    height: 80px;
    background:#000033;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2rem;
    font-weight: bolder;
    color:var(--chudao);
    font-family: var(--font);
}

.header .logo i{
    color:var(--orange);
}
.header .navbar{
    display: flex;
}
.header .navbar > li{
    line-height: 80px;
    position: relative;
}
.header .navbar > li:hover ul{
    display: block;
}
.header .navbar > li ul {
    background: rgb(255, 255, 255);
    position: absolute;
    width: 200px;
    top: 82px;
    left: 0;
    border: 1px solid #000033;
    border-radius: 3px;
    padding-left: 20px;
    transition: ease-in-out 0.4s;
    display: none;
}

.header .navbar > li ul li a{
    color: #000033;
    padding-top: 10px 0;
}
.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    padding: 1.5rem 0;
    color:var(--white);
    position: relative;
}

.header .navbar a:before{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 4px solid #EA8025;
    opacity: 0;
    transform: scale(0, 1);
    transform-origin: left center;
    transition: transform 0.3s, opacity 0.3s;
}

.header .navbar a:hover:before{
    opacity: 1;
    transform: scale(1,1);
   
}
.activenavbar:after{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 4px solid #EA8025;
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: left center;
    transition: transform 0.3s, opacity 0.3s;
}
.header .icons div{
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--chudao);
    font-size: 1.5rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.header .icons div span{
    line-height: 1.5rem;
    position: absolute;
    padding: 0;
    top: -22px;
    right: -5px;
    color: var(--white);
    background: var(--chudao);
    font-size: 1rem;
    padding: 0 10px;
    border: 1px solid var(--chudao);
    border-radius: 50%;
}

.header .icons div:hover{
    background: var(--orange);
    color:#fff;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:103%; 
    right:-155%;
    width: 34rem;
    height:3rem;
    background: #fff;
    overflow: hidden;
    display: flex;
    
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:0rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    border: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--chudao);
    padding:0 1.5rem;
    border-radius: 3px;
}
.header .search-form button{
    background: var(--chudao);
    color:var(--white);
    border: 1px solid var(--white);
    border-radius: 3px;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
   
    cursor: pointer;
    margin-left: 1rem;
}

.header .search-form button:hover{
    background: white;
    color:#000033;
}

.header .shopping-cart{
    position: absolute;
    top:100%; 
    right:0;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:22rem;
    background: #fff;
    display: none;
    
}

/* .header .shopping-cart.active{
    right:0rem;
    transition: .4s linear;
} */

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin-bottom: 2rem;
    
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top:64%; 
    right:2rem;
    cursor: pointer;
    color:var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color:var(--orange);
}

.header .shopping-cart .box .content h3{
    color:var(--chudao);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color:var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}
.home .content a{
    padding: 10px 35px;
    background: var(--chudao);
    border: 3px solid var(--chudao);
    border-radius: 60px;
    font-size: 25px;
    opacity: 0.3;
    animation: Text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: 0.3s;
}
.home .content a:hover{
    background: transparent;
    color: var(--chudao);
    border: 3px solid var(--chudao);
}
@keyframes Text{
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.4;
    }
}

.header .shopping-cart .total{
    font-size: 2rem;
    padding: 0;
    text-align: center;
    color:var(--chudao);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin:1rem;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--toi);
    color:var(--toi);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--orange);
    color:#fff;
}

.header .login-form{
    position: absolute;
    top:110%; 
    right:-50%;
    width:18rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
    
}

.header .login-form.active{
    right:0rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--chudao);
    margin-bottom: 20px;
    text-align: center;
}

.header .login-form .box{
    width: 100%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--chudao);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding:.5rem 0;
    color:var(--light-color);
}

.header .login-form p a{
    color:var(--orange);
    text-decoration: underline;
}
.header .login-form .login-form_login{
    padding: 10px 0;
    border-bottom: 1px solid var(--chudao);
}
.header .login-form i{
    color: var(--chudao);
    margin-right: 10px;
}
.header .login-form a{
    display: block;
    color: black;
    font-size: 18px;
}
.header .login-form a:hover{
    color: var(--chudao);
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/banner_moi.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 6rem;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:var(--white);
    font-size: 3rem;
}

.home .content h3 span{
    color:var(--orange);
}

.home .content p{
    color:#EA8025;
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}




.user_main>li{
    position: absolute;
    right: 32px;
    top: 5px;
}
.user_main>li:hover >ul{
    display: block;
} 

.user_main li i{
    font-size: 20px;
    color: white ;

}
.user_main li > ul{
   position: absolute;
   display: block;
   background: #f7e011;
   width: 255px;
   top: 57px;
   right: 0;
   padding: 0;
   transition: all 0.4s;
   display: none;
  
}
.user_main li > ul::before{
  
    content: '';
    border-width: 20px 20px;
    border-style:  solid;
    border-color: transparent transparent #f7e011 transparent;
    position: absolute;
    top: -40px;  
    right: 9px;
    z-index: -1;
}
.user_main li > ul>li{
    padding: 0;
}

.user_main li > ul>li a{
    display: block;
    color: black;
    padding: 10px 12px;
}
.user_main li > ul>li a:hover{
    background: #000033;
    color: white;
}




.menu_list{
    display: flex;
  max-width: 1100px;
  margin: auto;
  
  
   
}
.menu img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    
}
.menu ul{
    display: flex;
    
}
.menu li{
   
    padding: 14px 20px;
    
}
.menu_chung{
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    position: relative;
}
.menu_chung:before{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 4px solid #EA8025;
    opacity: 0;
    transform: scale(0, 1);
    transform-origin: left center;
    transition: transform 0.3s, opacity 0.3s;
}

.menu_chung:hover:before{
    opacity: 1;
    transform: scale(1,1);
   
}
.a{
    background: #EA8025;
}
.menu_list input{
    height: 25px;
    width: 200px;
    padding-left: 5px;
    position: absolute;
    right: 130px;
    top:16px;
    border: 1px solid white;
    border-radius: 4px;
}
.menu_list button{
    position: absolute;
    height: 25px;
    width: 40px;
    color: white;
    background: #000033;
    border: 1px solid white;
    right: 130px;
    top:16px;
    border-radius: 4px;
}
.menu_list button:hover{
   background: #EA8025
  
}
.menu_list .fa-shopping-cart:hover{
    color: #EA8025;
}
.menu_list .fa-user:hover{
    color: #EA8025;
}
.fa-shopping-cart{
    position: relative;
}

 


@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .slideshow-container {
   
    position: relative;
    
    margin-top: 50px;
  }

  .mySlides {display: none;}
.mid_img{
    
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
.mid_img img{
    width: 100%;
    height: 300px;
    vertical-align: middle;
}
.mid_img h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: #f7e011;
    /* top: 50%;
    left: 35%; */
    position: absolute;
    animation: mymove 5s infinite;
}
@keyframes mymove{
    0%   {top: 50%;left: 35%;}
    25%  {top: 50%;left: 40%; }
    50%  {top: 55%;left: 40%}
    75%  {top: 55%;left: 35%;}
    100% {top: 50%;left:35%;}
 

}
/* animation: mymove 5s infinite;
@keyframes mymove{
    0%   {top: 0px;left: 0px;}
    25%  {top: 0px;left: 20px; }
    50%  {top: 20px;left: 20px}
    75%  {top: 20px;left: 0px;}
    100% {top: 0px;left: 0px;}
 

} */


.mid{
    max-width: 1100px;
    margin: auto;
    margin-top: 30px;
}
.mid_menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.mid_menu p{
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    color: #EA8025;
    position: relative;
}

.mid_menu p:before{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    content: "";
    border-bottom: 4px solid black;
}
.mid_chitietsp p{
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #EA8025;
    position: relative;
}
.mid_chitietsp p:before{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 39%;
    content: "";
    border-bottom: 4px solid black;
}
.mid_menu_hover{
    
    color: #fff;
    background: black;
    font-weight: 600;
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 3px;
    display: inline-block;
    padding: 13px 8px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.5s;
    z-index: 2;
    overflow: hidden;
}
.mid_menu_hover:before{
    content: "";
    position: absolute;
    width: 140%;
    height: 0%;
    background: white;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.24, 0.89, 0.68, -0.37);
}
.mid_menu_hover:hover {
    color:#EA8025;
  }
  .mid_menu_hover:hover:before {
    height: 260%;
    transform: translate(-50%, -50%) rotate(45deg);
  }


.mid_sp{
    width: 100%;
    display: flex;
  flex-wrap: wrap;
  
}
.mid_sp_title{
    width:25%;
    padding: 0 15px;
    margin: 10px 0; 
    
}
.mid_sp_img{
    width: 100%;
    
}
.mid_sp_img img{
    border-radius: 5px;
    width: 100%;
    height: 250px;
}
.mid_sp_img img:hover{

    transform:translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.5);
}
.mid_sp_name{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mid_sp_name a{
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    transition: 0.4s;
    
}
.mid_sp_name p{
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.main_sanpham_sp_name p{
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.mid_sp_name a:hover{
    color: #EA8025;
}
.mid_sp_price{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.mid_sp_price p{
    font-size: 20px;
    color: #EA8025;
    font-weight:bold;
}
.mid_sp_btn{
    display: flex;
    justify-content: space-between;
}
.mid_sp_btn_buy{
    position: relative;
    font-size: 12px;
    font-weight: 700;
    background: #EA8025;
    color: #fff;
    border: 2px solid #EA8025;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    padding: 6px 9px;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
}
.mid_sp_btn_buy:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background: white;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.24, 0.89, 0.68, -0.37);

}
.mid_sp_btn_buy:hover {
    color:#EA8025;
  }
  .mid_sp_btn_buy:hover:before {
    height: 300%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

/* ----------------------------------------------------------------------------------------------------------------------- */

.mid_sp_btn_details{
    font-size: 12px;
    font-weight: 700;
    color: #EA8025;
    display: inline-block;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    border: 2px solid #EA8025;
    vertical-align: middle;
    position: relative;
    padding: 6px 10px;
    height: 31px;
    transition: .5s;
    top: 1px;
    overflow: hidden;
}
.mid_sp_btn_details:before{
    content: '';
    position: absolute;
    transition: .5s;
    width: 0;
    left: 120%;
    bottom: 0;
    height: 3px;
    background: #EA8025;
    height: 120%;
    left: -10%;
    /* -webkit-transform: skewX(
15deg); */
    transform: skewX(25deg);
    z-index: -1;
}
.mid_sp_btn_details:hover {
    color: #fff;
  }
  .mid_sp_btn_details:hover:before {
    width: 120%;
  }

  /* blog */
.mid_blog{
    background: #000033;
    margin-top: 20px;
    height: 800px;
    margin-bottom: 40px;
}



.mid_blog_menu{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    z-index: 9;
    position: relative;
    top: -450px;
    left: 0;
}
.mid_blog_name{
    font-family:'Courier New', Courier, monospace;
        font-size: 40px;
        font-weight: bold;
        color: #EA8025;
        position: relative;
        

}
.mid_blog_name:before{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    content: "";
    border-bottom: 4px solid white;
}

.mid_blog_hover{
    color: #EA8025;
    background: white;
    font-weight: 600;
    font-family: sans-serif;
    border: 2px solid white;
    border-radius: 3px;
    display: inline-block;
    padding: 13px 15px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.5s;
    z-index: 2;
    overflow: hidden;
}
.mid_blog_hover:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background: black;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.24, 0.89, 0.68, -0.37);
}
.mid_blog_hover:hover {
    color:#EA8025;
  }
  .mid_blog_hover:hover:before {
    height: 200%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
.mid_blog_item{
    max-width: 1100px;
    margin: auto;
    position: relative;
    top: -400px;
}
.mid_blog_item img{
    width: 100%;
    height: 500px;
}
.mid_blog_item_title{
    background: white;
  padding-left: 20px;
  padding-bottom: 20px;
 
}
.mid_blog_item_title p{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    font-weight: 600;
    color: #EA8025;
    margin-bottom: 10px;
}
.mid_blog_item_btn_title{
    color: black;
    font-size: 25px;
    font-weight: 600;
    transition: 0.4s;
}
.mid_blog_item_btn_title:hover{
    color: #EA8025;
}
.mid_blog_item_btn_detais{
    margin-top: 10px;
  
    color: #fff;
    background: #EA8025;
    font-weight: 600;
    font-family: sans-serif;
    border: 2px solid #EA8025;
    border-radius: 3px;
    display: inline-block;
    padding: 13px 15px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.5s;
    z-index: 2;
    overflow: hidden;
   
}
.mid_blog_item_btn_detais:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background: white;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.24, 0.89, 0.68, -0.37);
}
.mid_blog_item_btn_detais:hover {
    color:#EA8025;
  }
  .mid_blog_item_btn_detais:hover:before {
    height: 180%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

.mid_title{
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;
   
}
.mid_title_menu{
    position: relative;
}
.mid_title_menu p{
    font-family:'Courier New', Courier, monospace;
        font-size: 40px;
        font-weight: bold;
        color: #EA8025;
        position: relative;
        margin-top: 60px;
        margin-bottom: 30px;
}
.mid_title_menu p:before{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    content: "";
    border-bottom: 4px solid #EA8025;
}
.mid_vitri{
    display: flex;
    background: #EA8025;
    height: 360px;
    justify-content: space-between;
}
.mid_vitri_text{
    margin-top: 80px;
    margin-left: 40px;
   padding-right: 40px;
}
.mid_vitri_text h2{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-bottom: 20px;
}
.mid_vitri_text p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.mid_vitri_img{
    position: relative;
}
.mid_vitri_img img{
    width: 550px;
    height: 100%;
   
}
.mid_vitri_img-img{
    width: 550px;
    height: 100%;
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
     top: 50%;
     width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
.mid_list{
    display: flex;
    justify-content: space-between;
}
.mid_list p{
    color: #EA8025;
}
.mid_list ul{
    display: flex;
   
    margin-top: 20px;
   
}

.mid_list ul li{
    margin-right: 10px;
    background: #bbb;
    border: 1px  solid #bbb;
    border-radius: 50%;
}
.mid_list ul li a{

    padding: 5px 10px;
    display: block;
   color: black;
   border: 1px  solid #bbb;
    border-radius: 50%;
}
.mid_list ul li a:hover{
    color: #EA8025;
    background: black;
}
.list{
    border: 1px  solid #bbb;
    border-radius: 50%;
    color: #EA8025!important;
    background: black;
}

.footer{
    background: #000033;
}
.footer_main{
    max-width: 1100px;
    margin: auto;
    display: flex;
    width: 100%;
    
}
.footer_main_about{
    
    width: 33.33%;
    margin-top: 80px;
}
.footer_main_about h1{
    color: #EA8025;
    margin-bottom: 20px;
}
.footer_main_about ul li{
    margin-bottom: 10px;
}
.footer_main_about ul li a{
    color: white;
   
}
.footer_main_about img{
    width: 50%;
}
.footer_main_sp{
   
    width: 33.33%;
    margin-top: 80px;
}
.footer_main_sp h1{
    color: #EA8025;
    margin-bottom: 20px;
    
}
.footer_main_sp h2{
    color: #EA8025;
    margin-bottom: 20px;
    margin-top: 30px;
}
.footer_main_sp p{
    color: white;
    margin-left: 40px;
}
.footer_main_delivery{
    padding-left: 50px;
    width: 33.33%;
    margin-top: 80px;
}
.footer_main_delivery h1{
    color: #EA8025;
    margin-bottom: 20px;
}
.footer_main_delivery ul li{
    margin-bottom: 10px;
}
.footer_main_delivery ul li a{
    color: white;
}
.footer_reserved{
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 30px;
}
.footer_reserved p{
    text-align: center;
    padding: 20px 0;
    color: white;
    border-top: 2px solid white;
}

  /* .hover {
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid #000;
    border-radius: 3px;
    display: inline-block;
    padding: 13px 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: color 0.5s;
    z-index: 2;
  }
  .hover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
  }
  .hover:hover {
    color: #fff;
  }
  .hover:hover:before {
    transform: scaleX(1);
  } */

/* .hover-1 {
    margin-top: 20px;
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid #000;
    border-radius: 3px;
    display: inline-block;
    padding: 13px 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: color 0.5s;
    z-index: 2;
    overflow: hidden;
  }
  .hover-1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background: black;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.24, 0.89, 0.68, -0.37);
  }
  .hover-1:hover {
    color: #fff;
  }
  .hover-1:hover:before {
    height: 300%;
    transform: translate(-50%, -50%) rotate(45deg);
  } */


/* .menu ul li::before{
    position: relative;
   
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    border-bottom: 4px solid #EA8025;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
} */




/* ---------------- san pham ------------- */

.so_sp{
    
    font-size: 18px;
    position: absolute;
    right: 70px;
    top: 1px;
    cursor: pointer;
   background: white;
   color: #EA8025;
   position: absolute;
   padding: 0 6px;
   border-radius: 50%;
   z-index: 2;
   
}
.main_sanpham{
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
}
.main_sanpham_left{
    width: 20%;
    border: 3px solid red;
    margin-top: 65px;
    height: 500px;
    padding-top: 50px;
}
.main_sanpham_left li{
    padding-left: 40px;
   padding-top: 10px;
   padding-bottom: 10px;
  
}
.main_sanpham_left li a{
    color: #EA8025;
}

.main_sanpham_left li:hover{
    background: #000033;
}


.main_sanpham_right{
    width: 100%;
    margin-left: 10px;
    
}

.main_sanpham_right_Wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main_sanpham_sp_title{
    margin-bottom: 20px;
    width: 25%;
}
.main_sanpham_sp_img img{
    border-radius: 5px;
    width: 240px;
    height: 250px;
}
.main_sanpham_sp_img img:hover{

    transform:translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.5);
}
.main_sanpham_sp_name{
    width: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main_sanpham_sp_name a{
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    transition: 0.4s;
}
.main_sanpham_sp_name a:hover{
    color: #EA8025;
}
.main_sanpham_sp_price{
    padding-right: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.input_soluong{
    margin-right: 20px;
    border-radius: 50px;
    border: 1px solid #EA8025;
    width: 60px;
    padding: 0 10px;
}
.main_sanpham_sp_price p{
    font-size: 20px;
    color: #EA8025;
    font-weight:bold;
}

.main_sanpham_sp_btn_buy{
    position: relative;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-size: 16px;
    font-weight: 700;
    background: #EA8025;
    color: #fff;
    border: 2px solid #EA8025;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    padding: 6px 25px;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
}
.main_sanpham_sp_btn_buy:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background: white;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.24, 0.89, 0.68, -0.37);

}
.main_sanpham_sp_btn_buy:hover {
    color:#EA8025;
  }
  .main_sanpham_sp_btn_buy:hover:before {
    height: 300%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

/* ---------------- shopping ---------- */
.main_sanpham_right_table table{
    width: 100%;
    border-collapse: collapse;
    padding-top: 20px;
}
.main_sanpham_right_table th{
    border-bottom: 2px solid red;
}
.main_sanpham_right_table td{
    text-align: center;
    
    padding: 10px 0;
}
.main_sanpham_right_table td input{
    width:35px ;
    text-align: center;
}
.main_sanpham_right_table td button{
    color: black;
    background: white;
    border: 1px solid black;
}
.main_sanpham_right_table td button:hover{
    color: white;
    background: black;
}
.main_sanpham_right_table td img{
    width: 200px;
}
.main_sanpham_right_table td i{
    color: #EA8025;
}
.main_sanpham_right_table td i:hover{
    color: red;
}
.main_sanpham_right_table tr td .huy{
    padding: 10 15px;
    cursor: pointer;
    font-weight: bold;
    font-style: 25px;
    color: #EA8025;
}
.main_sanpham_right_table tr td .huy:hover{
  
    color: red;
}

.shopping_btn{
text-align: right;
margin-top: 30px;
margin-right: 20px;

}

.shopping_btn_buy{
    position: relative;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-size: 16px;
    font-weight: 700;
    background: #fff;
    color: #EA8025;
    border: 2px solid #EA8025;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    padding: 6px 25px;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
}
.shopping_btn_buy:before{
    content: '';
    position: absolute;
    transition: .5s;
    width: 0;
    left: 120%;
    bottom: 0;
    height: 3px;
    background: #EA8025;
    height: 120%;
    left: -10%;
    /* -webkit-transform: skewX(
15deg); */
    transform: skewX(25deg);
    z-index: -1;

}
.shopping_btn_buy:hover {
    color: #fff;
  }
  .shopping_btn_buy:hover:before {
    width: 120%;
  }
  .shopping_btn p{
      margin-bottom: 20px;
      font-size: 20px;
  }

/* ----------pay---------- */

.main_sanpham_right_address{
    padding: 30px 10px;
    border-bottom:2px solid red;
    border-left: 4px solid red;
    
}
.main_sanpham_right_address h3{
    font-size: 30px;
    margin-bottom: 30px;
}
.ho_ten{
    margin-bottom: 20px;
}
.main_sanpham_right_address label{
    font-size: 18px;
   
}
.main_sanpham_right_address input{
    height: 30px;
    width: 400px;
    padding-left: 10px;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 10px;
}
.main_sanpham_right_pay{
    padding: 30px 10px;
    border-left: 4px solid red;
}
.main_sanpham_right_pay h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.main_sanpham_right_pay label{
    padding-left: 5px;
    font-size: 18px;
}
.main_sanpham_right_pay p{
    font-size: 15px;
    padding-left: 20px;
}
.main_sanpham_right_pay h2{
    font-size: 30px;
    margin: 30px 0;
}

/* -----------------chitiet--------------- */

.main_chitiet_right_table{
    display: flex;
   
    padding-left: 10px;
}


.chitiet_right{
    margin-left: 60px;
}
.chitiet_right p{
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
}
.chitiet_btn_buy{
    position: relative;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-size: 16px;
    font-weight: 700;
    background: #EA8025;
    color: #fff;
    border: 2px solid #EA8025;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    padding: 6px 25px;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
}
.chitiet_btn_buy:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background: white;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.24, 0.89, 0.68, -0.37);

}
.chitiet_btn_buy:hover {
    color:#EA8025;
  }
  .chitiet_btn_buy:hover:before {
    height: 480%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

/* ---------------------------------dang--nhap--------------------- */

  
  /* -------------------------------------trang blog-------------------------- */
  .main_blog{
      max-width: 1100px;
      margin: auto;
      margin-top: 120px;
  }
  .main_blog h2{
      font-size: 35px;
      text-align: center;
      margin: 30px 0;
      color: #EA8025;
  }

.main_blog-title h3{
    margin-bottom: 20px;
    color: #717171;
}
.main_blog-title-img{
    display: flex;
    margin-bottom: 15px;
}
.main_blog-title-img img{
    width: 300px;
    height: 200px;
}
.main_blog-title-text{
    padding: 40px;
}
.main_blog-title-text .tieude{
    font-weight: bold;
    font-size: 18px;
    color: #000033;
    margin-bottom: 15px;
}
/* -----------------------------lien----------he------------- */
.main_lienhe{
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 120px;
}
.main_lienhe h2{
    font-size: 30px;
    color: #EA8025;
    text-align: center;
    margin: 30px 0;
}
.lienhe_form{
    width: 1000px;
    margin: auto;
    display: flex;
   padding-top: 30px;
   padding-bottom: 30px;
}
.lienhe_form-left{
    width: 50%;
    padding-right: 50px;
}
.lienhe_form-left h3{
    margin-bottom: 20px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #f7e011;
}
.lienhe_form-left p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}
.lienhe_form-right input{
    width: 100%;
    height: 30px;
    padding-left: 10px;
}
.lienhe_form-right{
    width: 50%;
    padding-left: 30px;
}
form textarea{
    padding: 10px;
    font-size: 18px;
    width: 100%;
    height: 100px;
}
.lienhe_form-right button{
    margin-top: 20px;
    color: #000033;
    font-weight: bold;
    width: 80px;
    height: 30px;
    border: 1px solid #000033;
    border-radius: 3px;
    background: #EA8025;
    transition: ease 0.5s;
}
.lienhe_form-right button:hover{
    background: #000033;
    color: #EA8025;
}





.blog_noidung{
    width: 1000px;
    margin: auto;
    margin-top: 20px;
}
.blog_noidung p{
    font-size: 18px;
    margin-bottom: 5px;
}
.blog_noidung img{
    width: 100%;
}
.mid_sp_btn button{
    border: none;
    background: none;
}
.main_camon h3{
    color: #EA8025;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.main_camon p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}
.main_chitiet_right_table img{
    width: 250px;
}
.main_sanpham_sp_name h2{
     color: #EA8025;
}
.chitiet_right button {
    border: none;
    background: none;
}
.main_sanpham_right_Wrap{
    border-left: none;
}
.main_sanpham-comment-img textarea{
    width: 600px;
    height: 125px; 
    font-size: 16px; 
     padding-left: 10px;
    margin-top: 20px;
}
.main_sanpham-comment-img button{
    border: none;
 background: none;
    display: block;
}
.main_sanpham-comment-img input{
    width: 600px;
}
.mid_blog_noidung_name{
    color: #EA8025;
     font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin-bottom:30px;
}
.main_chitiet_right_table-img{
    display: flex;
}

.main_chitiet_right_table-big img{
    width: 325px;
   
}
.main_chitiet_right_table-smaill{
    padding-left: 10px;
    display: grid;
}
.main_chitiet_right_table-smaill img{
    width: 200px;
    height: 100px;
    margin: 4px 0;
    cursor: pointer;
}
/* ---------------------dat ---------- ban    */
.main_datban{
    max-width: 1100px;
    margin: auto;
    margin-top: 110px;
}
.main_datban h2{
    text-align: center;
    color: #EA8025;
    margin-bottom: 30px;
    font-size: 30px;
}
.phonghop{
    min-height: 730px;
    background: url(../img/ph.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.gt_phonghop{
    padding-top: 50px;
    padding-left: 50px;
}
.phonghop form{
    background: #ffffff9c;
    padding: 16px ;
    margin-right: 30px;
    text-align: center;
    max-width: 300px;
    height: 670px;
    position: relative;
    margin-top: 50px;
}
.phonghop .h3{
   
    text-transform: uppercase;
    font-size: 18px;
    color: #00283e;
    letter-spacing: 2px;
    background: #c9c9c9;
    margin: -16px;
    margin-bottom: 15px;
    line-height: 50px;
}
.phonghop .h4{
    text-transform: uppercase;
    font-size: 18px;
    color: #00283e;
    letter-spacing: 2px;

    margin-bottom: 15px;
    line-height: 50px;
}
.phonghop form input{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}
.phonghop form select{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}


.phonghop form button{
    width: 150px;
    height: 35px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    background: rgb(214,133,67);
    transition: all 0.4s;
}
.phonghop form button:hover{
    background: rgb(0,40,62);
}
.camon{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.taikhoan{
    margin-bottom: 40px;
    width: 1000px;
    margin: auto;
    display: flex;
}
.taikhoan_form{
    display: flex;
    text-align: center;
    width: 100%;
}
.taikhoan_form-name{
    width: 33.33%;
    text-align: right;
}
.taikhoan_form-name-input{
    width: 33.33%;
    text-align: left;
    margin-top: 20px;
}
.taikhoan_form-name-input input{
    margin: 10px 0;
    width: 250%;
    height: 30px;
    outline: none;
   padding-left: 10px;
   font-size: 18px;
   color: black;
}
.taikhoan_form-name-input h3{
    margin-bottom: 8px;
}

.taikhoan_form-name p{
    font-size: 20px;
    color: var(--chudao);
    margin: 15px 0;
    margin-right: 50px;
    margin-bottom: 25px;
}
.taikhoan_form-name-input{
    text-align: center;
}
.main_taikhoan button{
    background: none;
    border: none;
    margin-left: 440px;
    cursor: pointer;
}
.main_taikhoan{
    margin-bottom: 50px;
}
.taikhoan_form-anh{
    margin-left: 20px;
    width: 33.33%;
    border-left: 3px solid var(--chudao);
}
.taikhoan_form-anh img{
    width: 150px;
    height: 150px;
    border: 1px solid var(--chudao);
    border-radius: 50%;
    margin-bottom: 20px;
}

/* skfh */
.toast{
   
    display: flex;
    width: 300px;
    
    justify-content: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba( 0,0,0, 0.08);
    transition:all linear 0.3s;
}
@keyframes slideInleft {
    from{
        transform: translateX(calc(100% + 32px));
    }
    to{
        transform: translateX(0);
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}
.toast--success{
    border-color:rgb(0, 255, 0) ;
    
    }
.toast--success .toast__icon{
        color: rgb(0, 255, 0);
    
    }
.toast--info{
        border-color:rgb(50, 50, 252) ;
    
    }
.toast--info .toast__icon{
        color:rgb(50, 50, 252) ;
    }
.toast--warn{
        border-color: rgb(226, 240, 39);
    
    }
.toast--warn .toast__icon{
        color: rgb(226, 240, 39);
    }
.toast + .toast{
    margin-top: 24px;
}
.toast__icon{
    font-size: 24px;
}
.toast__icon,.toast__close{
padding: 0 16px;
}
.toast__body{
    flex-grow: 1;
}
.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: #333;

}
.toast__msg{
    font-size: 14px;
   color: #888;
   margin-top: 6px; 
   line-height: 1.5;

}
.toast__close{
    font-size: 20px;
    color: rgba( 0,0,0, 0.3);
    cursor: pointer;
}
#toast{
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 9999;
}

/* =-------------------------------comment----------------------- */
.main_comment{
    max-width: 1100px;
    margin: auto;
}
.main_comment_add{
    display: flex;
    width: 100%;
}
.main_comment_img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.main_comment_input{
    width: 80%;
}
.main_comment_input input{
    width: 100%;
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
    border: 0;
    outline: 0;
  
}
/* ----------------------thanh ------------- toán-------- */
.main_sanpham_right_thanhtoan{
    display: flex;
}
.main_sanpham_right_thanhtoan_thongtin{
    width: 50%;
    padding: 0 20px;
}
.main_sanpham_right_thanhtoan_thongtin p{
    color: black;
    font-size: 25px;
    font-weight: 600;
}
.main_sanpham_right_thanhtoan_input{
   margin-bottom: 15px;
}
.main_sanpham_right_thanhtoan_input input{
    height: 35px;
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
}
.main_sanpham_right_thanhtoan_input textarea{
    width: 100%;
}
.main_sanpham_right_thanhtoan_don{
    width: 50%;
    padding: 0 20px;
}
.main_sanpham_right_thanhtoan_don p{
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}
.main_sanpham_right_thanhtoan_don table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.main_sanpham_right_thanhtoan_don table tr{
    border: 1px solid #000033;
}
.main_sanpham_right_thanhtoan_don table tr th{
    font-size: 18px;
    padding: 5px 0;
}
.main_sanpham_right_thanhtoan_don table tr td{
    text-align: center;
    font-size: 19px;
    padding: 10px 5px;
}
.main_sanpham_right_thanhtoan_input_radio{
    display: flex;
    
}
.main_sanpham_right_thanhtoan_input_radio input{
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.main_sanpham_right_thanhtoan_don label{
    font-size: 18px;
    
}
.main_sanpham_right_thanhtoan_don input{
    height: 30px;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 5px;
    border: 1px solid #888;
    border-radius: 4px;
    color: #EA8025;
}
.main_sanpham_right_thanhtoan_don button{
    height: 30px;
    background: #ff7800;
    border: 1px solid #EA8025;
    border-radius: 4px;
    color: var(--white);
    font-weight: 700;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.main_sanpham_right_thanhtoan_don button:hover{
    background: #000033;
    color: #EA8025;
}
/* ------------------------Don hang user-------------- */
.main_donhang_user table{
    width: 100%;
    border-collapse: collapse;

}
.main_donhang_user{
    margin-bottom: 30px;
}
.main_donhang_user table,tr,td,th{
    border: 1px solid #EA8025;
}
.main_donhang_user table th{
    padding: 5px 5px;
}
.main_donhang_user table td{
    text-align: center;
    padding: 5px 5px;
}
.main_donhang_user table tr .main_donhang_user_chitiet{
    color: #EA8025;
    font-size: 18px;
    cursor: pointer;
}
.main_donhang_user table tr .main_donhang_user_chitiet:hover{
    color: #000033;
}

.donhang_active{
    display: none;
}
/* -------------  info -------------------- */
.main_info{
    position: fixed;
    right: 0;
    top: 110px;
    background: #04AA6D;
    display: flex;
    padding: 10px 20px;
    border-radius: 3px;
    z-index: 999999;
    transition: opacity 0.6s;
    opacity: 1;
    
}
.main_info p{
    color: white;
    font-size: 18px;
    font-weight: 200;
}
.main_info_delete{
    margin-left: 15px;
}
.main_info_delete span{
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s;
    
}
.main_info_delete span:hover{
    color: red;
}

/* -------------------------------  delete------------ */

.main_add_list_delete{
    position: fixed;
    left: 45%;
    top: 110px;
    padding: 8px 20px;
    background: #EA8025;
    border-radius: 4px;

}
.main_add_list_delete p{
    font-size: 18px;
    color: white;
}
.main_add_list-cllick{
    margin: 5px;
    text-align: center;
}
.main_add_list-cllick #btn_no{
    background: red;
    border: 1px solid red;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    padding: 5px 5px;
    transition: all 0.3s;
}
.main_add_list-cllick #btn_no:hover{
    background: #000033;
    color: #EA8025;
}
.main_add_list-cllick #btn_yes{
    background: #04AA6D;
    border: 1px solid #04AA6D;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    padding: 5px 5px;
    transition: all 0.3s;
}
.main_add_list-cllick #btn_yes:hover{
    background: #000033;
    color: #EA8025;
}
